.navbar {
  height: 5rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  color: rgb(1, 9, 12);
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
}

.nav-items-left {
  display: flex;
  align-items: center;
}

.nav-username {
  font-family: "Playpen Sans", cursive;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.nav-intro,
.nav-achievements,
.nav-projects {
  margin-right: 1rem;
}

.navbar li {
  list-style: none;
}

.nav-items {
  display: flex;
  margin-right: 1.5rem;
}
