.navbar {
  height: 4.5rem;
  background-color: black;
  position: sticky;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  color: whitesmoke;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  z-index: 2;
}

.nav-items-left {
  display: flex;
  align-items: center;
}

.nav-username {
  font-family: "Playpen Sans", cursive;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.nav-intro,
.nav-achievements,
.nav-projects,
.nav-about {
  margin-right: 1rem;
  cursor: pointer;
}

.nav-intro a:hover,
.nav-achievements a:hover,
.nav-projects:hover,
.nav-about a:hover {
  color: skyblue;
}
.navbar li {
  list-style: none;
}

.nav-items {
  display: flex;
  margin-right: 1.5rem;
}

.logo-img {
  height: 2.5rem;
  border: solid black;
  margin-left: 2rem;
  margin-right: -1rem;
}
